    *{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 /* margin-top: 20pt;
  margin-left: 20px;*/
  font-family: sans-serif;
  background-color: gainsboro;
  word-break: keep-all;
  overflow-x: scroll;
}

a {
  color: black;
}

a:visited {
  color: black;
}

.title {
  position: fixed;
  width: 1000%;
  height: 50px;
  border-bottom: 1px solid black;
  margin: 0;
  background-color: gainsboro;
}

.subscribe {
  position: fixed;
  right: 0;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
}

.wwl {
  position: fixed;
  margin-top: 13pt;
  margin-left: 20px;
  margin-bottom: 20pt;
}

blink {
  animation: 0.7s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#entries {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.entry {
  font-family: sans-serif;
  line-height: 1.3em;
  min-width: 200px;
  max-width: 200px;
  margin-bottom: 200px;
  margin-left: 20px;
  margin-top: 70px;
  display: inline;
}

.entry a {
  color: blue;
  font-size: 10pt;
  line-height: 5pt;
}

.entry p a[href] {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.entry p:first-of-type {
  -webkit-margin-before: 0em;
}

.entry p {
  margin-bottom: 1.07em;
}

.top {
  height: 300px;
}

img {
  width: 200px;
  height: 120px;
  margin-bottom: 10px;
}

